.outer{
    margin-top: 0px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: white;
    background-image: url('https://e0.pxfuel.com/wallpapers/298/437/desktop-wallpaper-abstract-blue-and-white-polygon-background-template-blue-polygon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
    color: rgb(0, 0, 0);
    position: absolute;
    top:0;
}
.outer-registration{
    margin-top: 0px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* background-color: rgb(16, 0, 43); */
    background-color: rgb(0, 0, 0);
    /* background-image: url('https://e0.pxfuel.com/wallpapers/298/437/desktop-wallpaper-abstract-blue-and-white-polygon-background-template-blue-polygon.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    color: rgb(0, 0, 0);
    position: absolute;
    top:0;
}
.registration-form{
    /* margin: 30px; */
    width: 70vw;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255);
    padding: 30px 30px;
    border-radius: 30px;
    border: 3px solid rgb(0, 0, 0) 0.8;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgb(255, 0, 0);
    animation: showRegistrationForm 0.4s ease-out;
}

@keyframes showRegistrationForm {
    0%{
        transform: translateY(-300px);
    }
    /* 30%{
        transform: translateY(80px);
    }
    50%{
        transform: translateY(-60px);
    }
    75%{
        transform: translateY(20px);
    }
    90%{
        transform: translateY(-10px);
    } */
    100%{
        transform: translateY(0);
    }
}



.form{
    /* margin: 30px; */
    /* width: 70vw; */
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    /* background-color: rgb(0, 0, 0,0.3); */
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px 30px;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0) 0.8;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 50px black;
}

.registration-inputs{
    background-color: transparent;
    color: rgb(255, 255, 255);
    margin: 15px;
    border: none;
    padding: 2px 6px;
    outline: none;
    border-bottom: 2px solid rgb(0, 0, 0,0.5);
    width: 90%;
}

.form ::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
  }

input[type=file]{
    margin: 20px;
    border: none;
    padding: 2px 6px;
    outline: none;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-main{
    background-color: black;
    color: white;
    border: none;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    position: relative;

}
.button-main::before{
    content: '';
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 0%;
    position: absolute;
    left:0;
    top:0;
    transition: 0.4s ease-in-out;
    z-index: -1;
    font-weight: bolder;
    border: 2px solid black;
}
.button-main:hover::before{
    width: 100%;
    color: black;

}
.button-main:hover{
    color: black;
    z-index: 1;
    font-weight: bolder;
    transition: 0.4s ease-in-out;

}

select{
    background-color: white;
    font-weight: bold;
    color: black;
    margin: 20px;
    border: none;
    padding: 10px 10px;
    outline: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 90%;
    margin-left: 20px;
}

.selectfilter{
    max-width: 400px;
    background-color: rgb(224, 228, 215);
}

textarea{
    background-color: transparent;
    color: white;
    margin: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2px 6px;
    outline: none;
    height: 100px;
    max-height: 200px;
    min-height: 50px;
    width: 90%;
}

.file-input{
    width: 87%;
}

.password-container{
    background-color: transparent;
    color: rgb(255, 255, 255);
    margin: 15px;
    border: none;
    padding: 2px 6px;
    outline: none;
    border-bottom: 2px solid rgb(0, 0, 0,0.5);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-checkbox{
    background-color: transparent;
    color: rgb(255, 255, 255);
    margin: 15px;
    border: none;
    padding: 2px 6px;
    outline: none;
    border-bottom: 2px solid rgb(0, 0, 0,0.5);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:650px) {

    .input-container{
        flex-direction: column;
    }
    .form{
        padding: 10px 20px;
        margin-top: 20px;
    }
}

@media screen and (max-width:300px) {

    .input-container{
        flex-direction: column;
    }
    .form{
        padding: 10px 10px;
        width: 100%;
    }
}
