/* .deleteproduct{
    padding: 15px;
    height: max-content;
    width: 10vw;
    font-weight: bold;
    
}
.deleteproduct button{
    color: red;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 10px;
    font-weight: bold;
} */



